<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style1.css">
    <title>foodLe</title>
</head>
<body>
    <section class="landing_page">
        <div class="navbar">
            <div class="looogo">
                <img src="looogo.png" class="lo" alt="">
            </div>
            <div class="navbar_contents">
                <nav>
                    <a href="">Home</a>
                    <a href="">About</a>
                    <a href="">Contact</a>
                    <a href="">Login</a>
                </nav>
            </div>
        </div>
    </section>
    <main class="main1">
        <div >
        <img src="burger.jpg" class="imageburger" alt="">
        
        </div>
        <div class="budesc">
            <h3>Double Cheese Buger</h3>
            <p>A cheeseburger is a hamburger topped with cheese.<br> Traditionally, the slice of cheese is placed on top of the meat patty.<br>Place order for just for 2$ </p>
            <!-- <form action="/server.js"> -->
                <a href="/burger"><button  class="sbu">Place order</button></a>
            <!-- </form> -->
        </div>
    </main>
</body>
</html>