<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>foodLe</title>
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    
</head>
<body>
    

    <section class="landing_pa/ge">
       
        <div class="navbar">
            <div class="looogo">
                <img src="./views/looogo.png" class="lo" alt="">
            </div>
            <div class="navbar_contents">
                <nav>
                    <a href="">Home</a>
                    <a href="">About</a>
                    <a href="">Contact</a>
                    <a href="">Login</a>
                </nav>
            </div>
        </div>
    </section>
    
    <section class="about">
        <div class="container">
            <h1>Discover the best good at your place</h1>
            <div class="about_contents">
                <h2>“Food for us comes from our relatives, whether they have wings or fins or roots. That is how we consider food. Food has a culture. It has a history. It has a story. It has relationships.”</h2>
                <img src="./views/about.png" alt="">
            </div>
            <div class="about_contents">
                <img src="./views/cakee.jpg" alt="">
                <h2>“If you really want to make a friend, go to someone’s house and eat with him… The people who give you their food give you their heart.”</h2>
            </div>
        </div>
        <button class="order"><a href="./views/page.html" target="_blank">Place order</a></button>
    </section>
    <br>
    <br>
    <br><br>
    <hr>
    <br><br>
    <h1>
   <div class="abcd" ><p style="margin-top: 5px;">Copyright  2022 All rights reserved | This website is built by The Insighters </p></div>
</h1>
<br><br>
 <body>
</html>