<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style1.css"> 
   
    <title>foodLe</title>
</head>

<body>
    <section class="landing_page">
        <div class="navbar">
            <div class="looogo">
                <img src="looogo.png" class="lo" alt="">
            </div>
            <div class="navbar_contents">
                <nav>
                    <a href="">Home</a>
                    <a href="">About</a>
                    <a href="">Contact</a>
                    <a href="">Login</a>
                </nav>
            </div>
        </div>
    </section>
    <div class="head">
        <h1><em>your favorite food dishes ---></em></h1>
    </div>
    <main class="main">
        <div>
            <a href="burger.html">
                <img src="burger.jpg" class="image" alt="">
                <h3>burger</h3>
                <p>Veg burger just for 2$</p>
            </a>
        </div>
        <div>
            <img src="pizza.jpg" class="image" alt="">
            <h3>pizza</h3>
            <p>Veg burger just for 5$</p>
        </div>
        <div>
            <img src="chicken.jpg" class="image" alt="">

            <h3>chicken</h3>
            <p>Veg burger just for 10$</p>
        </div>
    </main>
    <div class="head2">
        <h1><em>your favorite brands here --></em></h1>
    </div>
    <div class="main">
        <img src="pizzahut.png" class="image1" alt="">
        <img src="dominos.png" class="image1" alt="">
        <img src="mcdonalds.webp" class="image1" alt="">
    </div>
</body>

</html>